# Vagrant
.vagrant

# Ansible
*.retry
*.cache

# local
roles/*
!roles/README.md
!roles/local.*

# project-specific
public_ssh_key/authorized_key.pub
db_backup/*
!db_backup/.keep
inventory/host_vars/*
