{% for host in groups['all'] %}

Host {{ host | replace('.' + hostvars[host]['domain'], '') }}
	Hostname {{ host }}
	PreferredAuthentications publickey
	User {{ login_user }}
	IdentityFile ~/.ssh/{{ hostvars[host]['login_user_key'] | replace('.pub', '') }}

{% endfor %}
